---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="About">
  <main class="subpage">
    <ul role="list" class="link-card-grid">
      <Card
        href="/"
        title="Home"
        body="Go back home to see the cool blur transition."
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 0;
    margin: 0;
    list-style: none;
  }
</style>

<script></script>
